{
  "app": "npx ts-node bin/slack-notify.ts",
  "context": {
    "@aws-cdk/core:enableStackNameDuplicates": "true",
    "aws-cdk:enableDiffNoFail": "true",
    "@aws-cdk/core:stackRelativeExports": "true",
    "hooks": {
      "disaster" : "<hook url>",
      "alart"    : "<hook url>",
      "errro"    : "<hook url>",
      "warning"  : "<hook url>"
    }
  }
}
