export WEBHOOK_DISASTER="https://hooks.slack.com/services/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"
export WEBHOOK_ALART="https://hooks.slack.com/services/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"
export WEBHOOK_ERROR="https://hooks.slack.com/services/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"
export WEBHOOK_WARNING="https://hooks.slack.com/services/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"
